@import url(http://fonts.googleapis.com/css?family=Chewy);
@import url(http://fonts.googleapis.com/css?family=Mystery+Quest);
html {
  background-color: #eee;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  font: 1em Verdana, Arial, Helvetica, sans-serif;
}
#wrap-footer {
  border-top: 1px solid #ccc;
  background-color: #eee;
}
#header,
#main,
#footer {
  margin: 0 auto;
  width: 970px;
  padding: 8px;
}
#main,
#footer {
  margin-bottom: 16px;
}
#header,
#main {
  background-color: #fff;
}
#main {
  min-height: 300px;
}
#footer {
  font-size: 0.80em;
  color: #666;
  background-color: #eee;
}
#banner {
  display: table;
  margin-bottom: 10px;
}
.site-logo,
.site-title,
.site-slogan {
  display: table-cell;
  width: inherit;
  vertical-align: middle;
  text-align: left;
}
.site-logo {
  margin: 2em 0 -2em 0;
}
.site-title {
  font-family: 'Chewy', cursive;
  line-height: 0;
  padding-left: 20px;
  color: #333;
  text-shadow: #ccc 2px -2px 2px;
  padding-top: 90px;
}
.site-slogan {
  font-family: 'Mystery Quest', cursive;
  line-height: 0;
  padding-left: 20px;
  color: #333;
  text-shadow: #ccc 2px -2px 2px;
  padding-top: 100px;
}
.site-title {
  font-size: 4em;
  color: #ed2024;
}
.site-slogan {
  font-size: 1.5em;
}
#login-menu {
  width: 150px;
  margin: 12px 50%;
  font-size: smaller;
  padding-left: 336px;
  text-align: right;
}
#login-menu img.gravatar {
  vertical-align: middle;
}
#login-menu a {
  text-decoration: none;
  color: #ffffff;
}
#login-menu a:hover {
  text-decoration: underline;
  color: #cecece;
}
#login-div {
  font-size: smaller;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 41px;
  background-color: #333333;
}
a {
  color: inherit;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #5C0A0A;
}
p.form-action-link {
  font-size: smaller;
}
h1 {
  border-bottom: 2px dotted #ccc;
  padding-bottom: 4px;
}
h2 {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 4px;
}
.error,
.alert,
.warning,
.notice,
.success,
.info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
}
.error,
.alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
  margin-top: 12px;
}
.notice,
.warning {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
  margin-top: 12px;
}
.success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
  margin-top: 12px;
}
.info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
  margin-top: 12px;
}
.error a,
.alert a {
  color: #8a1f11;
}
.notice a,
.warning a {
  color: #514721;
}
.success a {
  color: #264409;
}
.info a {
  color: #205791;
}
.validation-failed {
  border: 2px solid red;
}
.validation-message {
  color: red;
  font-size: smaller;
  font-style: italic;
  list-style-type: none;
  margin-top: -16px;
  margin-left: -40px;
}
textarea {
  width: 50%;
  height: 250px;
  margin-top: 3px;
}
#form-element-title,
#form-element-key,
#form-element-acronym,
#form-element-password,
#form-element-password1,
#form-element-name,
#form-element-email {
  width: 50%;
}
table {
  border-collapse: collapse;
}
table td {
  border: 1px solid #ddd;
  padding: 4px 8px;
}
table th {
  background: #ddd;
  border-right: 1px solid #fff;
  padding: 6px 8px;
}
table th:last-child {
  border-right: 1px solid #ddd;
}
.infobox {
  margin-top: 24px;
  padding: 2px 16px;
  background: #ffffff;
}
.bigger {
  font-size: 1.5em;
}
.smaller,
.smaller-text {
  font-size: 0.8em;
}
.red {
  color: #ed2024;
}
.grey {
  color: #cecece;
}
